# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build
.next/
out/

# Environment variables (MAI committare questo!)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

/app/generated/prisma

# Database locale (non va in git)
prisma/dev.db
prisma/*.db-journal

# TypeScript build cache (si rigenera)
tsconfig.tsbuildinfo

# File audio grandi — tienili fuori dal repo
public/*.mp3
